# Lab 4A

In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

## Task 1: Join/Merge three datasets together

Your task is to take three separate datasets (`grades1a.csv`, `grades1b.csv`, `grades1c.csv`) and merge them together.
You may find the [documentation](https://pandas.pydata.org/pandas-docs/stable/user_guide/merging.html) helpful as it contains some visualizations to help you understand the different merges and joins that are possible.

**Note: In your Explainer Video, remember to explain your code in detail. Explain not just what you did, but also why you did it that way.**

The final dataset should look like this:

### Sample Output

```
final_df
```

|    | Name             |   Student ID |   Chemistry |   Physics |   Math |
|---:|:-----------------|-------------:|------------:|----------:|-------:|
|  0 | Lila Oni         |        12001 |          59 |        90 |     45 |
|  1 | Amina Chimwala   |        12002 |          54 |        42 |     85 |
|  2 | Neda Makena      |        12003 |          42 |        88 |     54 |
|  3 | Shanthi Catrina  |        12004 |          66 |        48 |     64 |
|  4 | Deirbhile Bhavna |        12005 |          60 |        80 |     72 |
|  5 | Ige Aifric       |        12006 |          78 |        73 |     64 |
|  6 | Firouzeh Rudo    |        12007 |          64 |        43 |     67 |
|  7 | Desta Jahanara   |        12008 |          82 |        69 |     70 |
|  8 | Taiwo Sona       |        12009 |          63 |        54 |     80 |
|  9 | Fíona Finnguala  |        12010 |          41 |        52 |     70 |

In [122]:
# Your Answer Here
df1 = pd.read_csv('grades1a.csv')
df2 = pd.read_csv('grades1b.csv')
df3 = pd.read_csv('grades1c.csv')
final_df = pd.merge(df3,df2)
final_df

   Student ID  Chemistry
0       12001         59
1       12003         42
2       12004         66
3       12008         82

## Task 2: Combine two datasets with different keys

Your task is to merge two datasets together on the "Student ID" column in `grades2a.csv` and the "SID" column in the file `grades2b.csv`.

You can do this any way you like that matches the Sample Output (there are multiple ways of doing it) but please explain how you did it (and why).

### Sample Output

|    | Name             |   Student ID |   Chemistry |   Physics |   Math |
|---:|:-----------------|-------------:|------------:|----------:|-------:|
|  0 | Lila Oni         |        12001 |          59 |        90 |     45 |
|  1 | Amina Chimwala   |        12002 |          54 |        42 |     85 |
|  2 | Neda Makena      |        12003 |          42 |        88 |     54 |
|  3 | Shanthi Catrina  |        12004 |          66 |        48 |     64 |
|  4 | Deirbhile Bhavna |        12005 |          60 |        80 |     72 |
|  5 | Ige Aifric       |        12006 |          78 |        73 |     64 |
|  6 | Firouzeh Rudo    |        12007 |          64 |        43 |     67 |
|  7 | Desta Jahanara   |        12008 |          82 |        69 |     70 |
|  8 | Taiwo Sona       |        12009 |          63 |        54 |     80 |
|  9 | Fíona Finnguala  |        12010 |          41 |        52 |     70 |

In [142]:
# Your Solution Here
df1 = pd.read_csv('grades2a.csv')
df2 = pd.read_csv('grades2b.csv')
final_pdf = pd.merge(df1,df2)
final_pdf

               Name  Student ID  Chemistry  Physics  Math    SID
0   Shanthi Catrina       12004         66       48    64  12004
1  Deirbhile Bhavna       12005         60       80    72  12005
2        Ige Aifric       12006         78       73    64  12006

## Task 3: Merge dataframes and keep only overlapping rows

Often it is useful to try a bunch of different merge operations on a dataset to identify what parts of the data overlap, and what parts are disparate.
With the overlapping rows, you can then look at the value from the left, and the value from the right to compare them to see if there is any ambiguity if you chose to merge the dataframes.

In this question, you will use the same data as in Task 2 (`grades2a.csv` and `grades2b.csv`) and try to identify which rows are duplicates, or appear in both datasets.

**Restriction: For this Task, you CANNOT rename columns.**

## Sample Output

|    | Name_x           |   Student ID |   Chemistry_x |   Physics_x |   Math_x | Name_y           |   SID |   Chemistry_y |   Physics_y |   Math_y |
|---:|:-----------------|-------------:|--------------:|------------:|---------:|:-----------------|------:|--------------:|------------:|---------:|
|  0 | Shanthi Catrina  |        12004 |            66 |          48 |       64 | Shanthi Catrina  | 12004 |            66 |          48 |       64 |
|  1 | Deirbhile Bhavna |        12005 |            60 |          80 |       72 | Deirbhile Bhavna | 12005 |            60 |          80 |       72 |
|  2 | Ige Aifric       |        12006 |            78 |          73 |       64 | Ige Aifric       | 12006 |            78 |          73 |       64 |

In [148]:
df1 = pd.read_csv('grades2a.csv')
df2 = pd.read_csv('grades2b.csv')
#final_pdf = df1.merge(df2, on=["Name"])
final_pdf = pd.merge([df1, df2],how = 'right')
final_pdf

TypeError: merge() missing 1 required positional argument: 'right'

## Task 4: Explain the different merge types

### Task 4.1 - Table

The first part of this question is to fill out a table in words. For each merge type, write a sentence or two to explain each merge type. 

### Task 4.2 - Visualization

The second part of this question is to find (with citation) or create a diagram to explain the merge types visually.

In [129]:
### Task 4.1 - Table

| Merge Type | Explanation |
| ---------- | ----------- |
| Left join  | Key ids from the left side are kept and the to be merge ids are added in accoradance to the left ids. |
| Right join | Key ids from the right side are kept and the to be merge ids are added in accoradance to the right ids. |
| Outer join | In outer join, all of the values are merged together. Unfilled values are filled with Nan.|
| Inner join | In inner join, only the values under ids are kept. Rest all values are discarded.  |
| Cross join | Keys ids from the left side are kept and the remaining ids are added in a way that it creates a cartesian product|

SyntaxError: invalid syntax (<ipython-input-129-082aa2cde897>, line 3)

In [ ]:
### Task 4.2 - Visualization

Find (or create/sketch) a visualization/graphic/picture that makes sense to you on the different types of join, and explain it (in words) so you can crystallize your understanding of the merge types and how they work practically.

**Note: Please clearly cite and reference any graphic with a link and some text that you choose to use from external sources.**

In [ ]:
# Your solution here
I have used Venn diagrams to understand the different types of merge that exists. These diagrams explain the concept better since
what is being merged is usualy shaded.

The picture of all the merge types is as follows:

That's it, nice work!